*{
    margin: 0;
    padding: 0;
}

#proSite {
    display: none;
    width: 80%;
    margin: auto;
    overflow: auto;
    padding: 5px;
    border: 2px black solid;
}

#ptext {
    display: none;
}

textarea {
    resize: none;
}

#foto {
    width: 150px;
    height: 150px;
    border: black 2px solid;
}

img {
    width: 100%;
    height: 100%;
}

#fileInput {
    display: none;
}

#changeImg, #changeProfileText {
    margin: 5px 0;
    padding: 2px;
    display: block;
}

#profilText {
    margin: 30px 0;
    float: right;
    width: 80%;
    font-style: italic;
}

#postsContainer {
    width: 600px;
    height: 100px;
    margin: auto;
}

#otherProfilePostContainer {
    display: none;
    width: 600px;
    height: 100px;
    margin: auto;
}
