*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F6EEE9;
}
header{
    
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
}
h1{
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: 40px;
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}
.page-btn{
    font-size: 24px;
    padding: 10px 30px;
    width: auto;
}
#myPage{
    background-color: #F7D9C4;
}
#members{
    background-color: #C6DEF1;
}
#forum1{
    background-color: #DBCDF0;
}
#forum2{
    background-color: #F2C6DE;
}
#forum3{
    background-color: #C9E4DE;
}
.forum-form {
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 70%;
}
.forum-form input[type='text'] {
    width: 50%;
    border-radius: 5px;
    margin-bottom: 10px;
}
.forum-form textarea {
    width: 100%;
    border-radius: 5px;
    height: 3rem;
    margin-bottom: 10px;
}
.forum-form label {
    font-size: 20px;
}
.forum-form input[type='submit'] {
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}

.comment-wrapper {
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.comment-wrapper button{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px;
}

.comment-wrapper h1{
    font-size: 22px;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
}
.comment-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.forum-forum1-comments .comment-content {
    background-color: #DBCDF0;
}

.forum-forum2-comments .comment-content {
    background-color: #F2C6DE;
}

.forum-forum3-comments .comment-content {
    background-color: #C9E4DE;
}

.comment-wrapper h2 {
    margin-top: 0;
    font-size: 18px;
}
.comment-wrapper p {
    font-size: 16px;
}
.comment-wrapper img{
    width: 50px;
    margin-right: 10px;
}
.forum-forum1-comments,
.forum-forum1-comments h1,
.forum-forum1-comments h2,
.forum-forum1-comments p{
    background-color: #DBCDF0;
}

.forum-forum2-comments,
.forum-forum2-comments h1,
.forum-forum2-comments h2,
.forum-forum2-comments p {
    background-color: #F2C6DE;
}

.forum-forum3-comments,
.forum-forum3-comments h1,
.forum-forum3-comments h2,
.forum-forum3-comments p {
    background-color: #C9E4DE;
}